/* Navigation */
.logo-img {
    width: 5rem;
}
/* remove styling of button of class button-nav */
.button-nav {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    outline: none;
}

.button-1 {
    background-color: #354DE8;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: .5rem 1rem;
}
.drawer { display: flex; justify-content: space-between ;}

.a-tag { color: #000; text-decoration: none; margin: 0 .5rem;}
.title { font-size: 1.3rem; font-weight: 700; }
.square { background-color: #fff; padding: .5rem 1rem; border-radius: 15px; width: 100vw;}